*
!.editorconfig
!.gitattributes
!.github
!.github/*
!.github/**
!.gitignore
!.snakemake-workflow-catalog.yml
!.test
!.test/config
!.test/config/*
!.test/data
!.test/data/*
!CITATION.cff
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!LICENSE
!README.md
!config
!config/*
!workflow
!workflow/*
!workflow/**
