*
!.editorconfig
!.gitattributes
!.github
!.github/*
!.github/**
!.gitignore
!.snakemake-workflow-catalog.yml
!.tests
!.tests/*
!.tests/**
!CITATION.cff
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!LICENSE.md
!README.md
!config
!config/*
!images
!images/*
!workflow
!workflow/*
!workflow/**
